*{
    padding: 0;
    margin: 0;
}
.icon {
    display: inline-block;
    padding: 3px;
    float: right;
    /* display: flex;
    flex-direction: row-reverse; */

}
.Gallery{
    text-align: center;
}
.TeamJourney{
    display: inline;
}
img{
    width:25%;
}

#logo {
    width: 50px;
}

#navbar {

    padding: 20px 10px;
    width: 100%
}

footer{
    color: white;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }

  .Aus{

    display: flex;
    justify-content:end;
    align-items:start;
    flex:column;
  }

  button a{
    text-decoration: none;
    background-color: rgb(240, 63, 240);
    /* color: cornsilk; */
  }
  